In [1]:
import pandas as pd

In [4]:
#Q1.
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [9]:
#Q2.
data = ['Pari', 'Ayush', 'Gauri', 10, 48]
series2 = pd.Series(data)
print(series2)

0     Pari
1    Ayush
2    Gauri
3       10
4       48
dtype: object

In [10]:
#Q3.
data = {'Name' : ["Alice", "Bob", "clarie"],
        'Age' : [25, 30, 27],
        'Gender' : ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  clarie   27  Female

In [13]:
# Q4.
# In pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It consists of rows and columns. Each column in a DataFrame can contain different types of data (e.g., numbers, strings, dates).
# On the other hand, a Series is a one-dimensional labeled array, similar to a column in a DataFrame.
#Example :

data = [
    ["Ayush", 95],
    ["Pari", 99],
    ["Gauri", 98]
]
columns = ['Name', 'Marks']

df = pd.DataFrame(data, columns = columns)
print("---DataFrame---")
print(df)

data1 = [95, 99, 98]
series = pd.Series(data1, name = 'Marks')
print("---Series---")
print(series)

---DataFrame---
    Name  Marks
0  Ayush     95
1   Pari     99
2  Gauri     98
---Series---
0    95
1    99
2    98
Name: Marks, dtype: int64

In [22]:
#Q5.
# Some common functions that can be use to manipulate of data in a Pandas DataFrame are following:-
    # 1.Filtering Data :
    #     Filters rows based on a condition.
    # Example :
data = [
    ["Ayush", 95],
    ["Pari", 99],
    ["Gauri", 98],
    ["Shubham", 45],
    ["Ravi", 35]
]
columns = ['Name', 'Marks']
df = pd.DataFrame(data, columns = columns)
df_filtered = df[df['Marks'] > 50]
print(df_filtered)
print("\n")

    # 2. Selecting Columns
    #     Select a or multiple columns.
    #     Example :
            
selected_column = df['Marks']
print(selected_column)
print("\n")

    # 3. Sorting Data
    #     Sorts rows based on a column's values.
    #     Example :
            
sorted_df = df.sort_values('Marks')
print(sorted_df)
print("\n")

    Name  Marks
0  Ayush     95
1   Pari     99
2  Gauri     98


0    95
1    99
2    98
3    45
4    35
Name: Marks, dtype: int64


      Name  Marks
4     Ravi     35
3  Shubham     45
0    Ayush     95
2    Gauri     98
1     Pari     99

In [23]:
#Q6.
#Only DataFrame is mutuable.

In [25]:
#Q7.
name = pd.Series(["Pari", "Ayush", "Gauri", "Rima"])
marks = pd.Series([99, 95, 98, 99])

data = {
    'Name' : name,
    'Marks' : marks
}
df = pd.DataFrame(data)
print(df)

# In the above example, we created two series: 'name' and 'marks'. After that we created a DataFrame 'df' using those series as columns. 'df' contain two columns: 'name' and 'marks' with corresponding values from the series.

    Name  Marks
0   Pari     99
1  Ayush     95
2  Gauri     98
3   Rima     99