In [1]:
import pandas as pd

In [2]:
data = {'Name' : ["Ayush", "Pari", "Om", "Himanshu"],
        'Age' : [22, 18, 13, 23],
        'Grade' : ['A', 'Ex', 'B', 'A'],
        'Gender' : ['M', 'F', 'M', 'M']}
dataframe = pd.DataFrame(data, index = None)
dataframe.to_csv("detail.csv", index = None)

In [3]:
#Q1.
# Five functions of pandas library are following :
#     1.read_csv() - This function is used to read data from a CSV file and create a DataFrame.
#     2.head() - This function is used to display the first few rows of a DataFrame.
#     3.describe() - This function generates descriptive statistics of numeric columns in a DataFrame.
#     4.tail()- This function is used to display the first few rows of a DataFrame.
#     5.drop() - This function is used to remove specified rows or columns from a DataFrame.
df = pd.read_csv("detail.csv")
print(df)
print("----------------------------------")
print(df.head(2))
print("----------------------------------")
print(df.describe())
print("----------------------------------")
print(df.tail(2))
print("----------------------------------")
df.drop(columns = ['Gender'])

       Name  Age Grade Gender
0     Ayush   22     A      M
1      Pari   18    Ex      F
2        Om   13     B      M
3  Himanshu   23     A      M
----------------------------------
    Name  Age Grade Gender
0  Ayush   22     A      M
1   Pari   18    Ex      F
----------------------------------
             Age
count   4.000000
mean   19.000000
std     4.546061
min    13.000000
25%    16.750000
50%    20.000000
75%    22.250000
max    23.000000
----------------------------------
       Name  Age Grade Gender
2        Om   13     B      M
3  Himanshu   23     A      M
----------------------------------

       Name  Age Grade
0     Ayush   22     A
1      Pari   18    Ex
2        Om   13     B
3  Himanshu   23     A

In [4]:
#Q2.
def reindex_with_increment(df):
    new_index = pd.Index(range(1, len(df) * 2, 2))
    df_reindexed = df.set_index(new_index)
    return df_reindexed

# Example DataFrame
data = {'A': [10, 20, 30],
        'B': [15, 25, 35],
        'C': [5, 10, 15]}
df = pd.DataFrame(data)

# Re-indexing the DataFrame
df_reindexed = reindex_with_increment(df)
print(df_reindexed)

    A   B   C
1  10  15   5
3  20  25  10
5  30  35  15

In [5]:
#Q3.
def getSum(df):
    sum = 0
    for i in range(0,3):
        sum+=df['values'][i]
    print(f"The sum of the first three values is {sum}.")

# Example DataFrame
data = {'values': [10, 20, 30, 15, 25, 35]}
df = pd.DataFrame(data)

getSum(df)

The sum of the first three values is 60.

In [6]:
#Q4.
def no_of_words(df):
    df['word_count'] = df['Text'].apply(lambda text : len(text.split()))
    return df


# Example DataFrame
data = {'Text': ["Hello, this is a sample text.", "Python programming is fun!", "Data analysis with Pandas."]}
df = pd.DataFrame(data)

print(no_of_words(df))

                            Text  word_count
0  Hello, this is a sample text.           6
1     Python programming is fun!           4
2     Data analysis with Pandas.           4

In [7]:
#Q5.
# DataFrame.size() returns total number of elements i.e product of number of rows and columns in a DataFrame.
# whereas DataFrame.shape() returns a tuple which contain the number of rows and columns in dataFrame respectively.

In [8]:
#Q6.
# read_excel() function of pandas is used to read excel file.

In [9]:
#Q7.
def extract_username(df):
    df['username'] = df['Email'].apply(lambda email:email.split(sep = '@')[0])
    return df
# Sample data
data = {'Email': ['rayushkgp@gmail.com', 'ayushrajsbp2@gmail.com', 'ayush.sm.sbp@gmail.com']}
df = pd.DataFrame(data)

# Call the function to add the 'Username' column
df = extract_username(df)

print(df)

                    Email      username
0     rayushkgp@gmail.com     rayushkgp
1  ayushrajsbp2@gmail.com  ayushrajsbp2
2  ayush.sm.sbp@gmail.com  ayush.sm.sbp

In [10]:
#Q8.
def filter_dataframe(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df
# Sample data
data = {'A': [4, 6, 8, 3, 7],
        'B': [9, 3, 12, 2, 5],
        'C': ['X', 'Y', 'Z', 'W', 'Q']}
df = pd.DataFrame(data)

# Call the function to filter rows
filtered_result = filter_dataframe(df)

print(filtered_result)

   A  B  C
1  6  3  Y
4  7  5  Q

In [11]:
#Q9.
def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean, median, std_dev

# Sample data
data = {'Values': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

# Call the function to calculate statistics
mean, median, std_dev = calculate_statistics(df)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 20.0
Median: 20.0
Standard Deviation: 7.905694150420948

In [12]:
#Q10.
def calculate_moving_average(df):
    df['Moving Average'] = df['Sales'].rolling(7,min_periods = 7).mean()
    return df
# Sample data
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08'],
        'Sales': [100, 150, 200, 250, 300, 350, 400,450]}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format

# Call the function to calculate moving average
df = calculate_moving_average(df)
print(df)

        Date  Sales  Moving Average
0 2023-08-01    100             NaN
1 2023-08-02    150             NaN
2 2023-08-03    200             NaN
3 2023-08-04    250             NaN
4 2023-08-05    300             NaN
5 2023-08-06    350             NaN
6 2023-08-07    400           250.0
7 2023-08-08    450           300.0

In [13]:
#Q11.
def get_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Sample data
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08'],}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])# Convert 'Date' column to datetime format

# Sample data
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08'],}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format

df = get_weekday(df)
print(df)

        Date    Weekday
0 2023-08-01    Tuesday
1 2023-08-02  Wednesday
2 2023-08-03   Thursday
3 2023-08-04     Friday
4 2023-08-05   Saturday
5 2023-08-06     Sunday
6 2023-08-07     Monday
7 2023-08-08    Tuesday

In [14]:
#Q12.
def filter_by_date_range(df):
    filtered_df = df[(df['Date'] >  '2023-01-01') & (df['Date'] < '2023-01-31')]
    return filtered_df
# Sample data
data = {'Date': ['2023-01-15', '2023-01-25', '2023-02-10', '2023-01-05']}
df = pd.DataFrame(data)

# Call the function to filter rows by date range
filtered_result = filter_by_date_range(df)

print(filtered_result)

         Date
0  2023-01-15
1  2023-01-25
3  2023-01-05

In [15]:
#Q13.
# The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is the Pandas library itself.
# import pandas